/* src/index.css */
@import 'tailwindcss';
@import 'tw-animate-css';

@import './colors.css';
@import './fonts.css';

@theme {
  /* Border Radius */
  --radius: 0.25rem;       /* DEFAULT */
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@custom-variant dark (&:is(.dark *));


.custom-scroll::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--color-slate-800); 
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-slate-600);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-slate-500);
}
